[Unit]
Description=TeamFees API Server
After=network.target postgresql.service

[Service]
Type=simple
User=administrator
WorkingDirectory=/home/administrator
Environment="LD_LIBRARY_PATH=/home/administrator"
ExecStart=/home/administrator/TeamFees
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
